server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/property_management_db
    username: postgres
    password: 1233
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


springdoc:
  swagger-ui:
    path: /swagger
